.select-container {
    display: flex;
}

.filters {
    display: flex;
}

.search-btn {
    color: black;
    background-color: white;
    height: 45px;
    border: none;
    border-radius: 20px;
    padding: 0px 15px;
    width: 100px;
    margin: 0px 10px;
}

.search-btn:hover {
    cursor: pointer;
    background-color: whitesmoke;
}