:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.teams-list-container {
  padding-top: 100px;
  list-style: none;
}

li {
  list-style: none;
}

.team-row-container {
  display: flex;
  justify-content: space-between;
}

.team-row-container:hover {
  cursor: pointer;
  background-color: #4b4a4a;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.extended-details {
  height: 50px;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

p {
  margin: 0;
}

.team-stadium {
  height: 100px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.team-stadium-extended {
  height: 120px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.team-header-details {
  display: flex;
}

.team-badge {
  width: 50px;
  height: 50px;
  padding: 10px;
}

.team-badge-extended {
  width: 80px;
  height: 80px;
  padding: 10px;
}

.team-name {
  font-size: xx-large;
  padding-top: 10px;
}

span {
  font-weight: bold;
}

.loading-logo {
  display: flex;
  justify-content: center;
  margin: auto;
}